/* PROJECT: CREDIT ANALYSIS ETL PROCESS
   DESCRIPTION: Quy trinh trich xuat, bien doi va nap du lieu (ETL) tu Staging vao Data Warehouse.
   STEPS:
   1. Clean Staging Data (Xử lý Null, định dạng ngày tháng).
   2. Load Dimensions (Nạp dữ liệu vào các bảng Dim).
   3. Load Fact (Nạp dữ liệu vào bảng Fact chính).
*/

-- 1. CLEANING & TRANSFORMING (Ví dụ xử lý trạng thái nợ)
-- INSERT INTO Dim_Status (Status_Name)
-- SELECT DISTINCT loan_status FROM loan_staging;

-- 2. LOADING DATA INTO FACT TABLE
-- INSERT INTO Fact_Loans (Loan_ID, Customer_ID, Amount, Interest_Rate)
-- SELECT loan_id, emp_id, loan_amnt, int_rate FROM loan_staging;

-- =========================
-- ETL PROCESS
-- =========================

